body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg,#7b4397 , #dc2430);
    height: 100vh;
    overflow: hidden;
}

#all{
    position: absolute;
    left: 36%;
    top: 40%;
    border: 2px solid black;
    padding-right: 72px;
    padding-top: 24px;
    border-radius: 25px;
    
}